{
  "project_info": {
    "project_number": "771269035526",
    "project_id": "taskmate-aditya",
    "storage_bucket": "taskmate-aditya.firebasestorage.app"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:771269035526:android:b5a63be220d820fb146587",
        "android_client_info": {
          "package_name": "com.taskmateaditya"
        }
      },
      "oauth_client": [
        {
          "client_id": "771269035526-h50agcfi2o7t7rnd0kjdv735eg69tggk.apps.googleusercontent.com",
          "client_type": 1,
          "android_info": {
            "package_name": "com.taskmateaditya",
            "certificate_hash": "d8ba9e7f1b8cc0454e5de42b15f2c28aa3ba1acf"
          }
        },
        {
          "client_id": "771269035526-p0k2nc48839jn3niinisen9vrnkp7ufg.apps.googleusercontent.com",
          "client_type": 3
        }
      ],
      "api_key": [
        {
          "current_key": "AIzaSyBSA0ywXTxrQL7UdLc3m5bHZFf6Pkb7Vdc"
        }
      ],
      "services": {
        "appinvite_service": {
          "other_platform_oauth_client": [
            {
              "client_id": "771269035526-p0k2nc48839jn3niinisen9vrnkp7ufg.apps.googleusercontent.com",
              "client_type": 3
            }
          ]
        }
      }
    }
  ],
  "configuration_version": "1"
}